<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tennis_bat1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.11877 0.17649 0.22191"
        rpy="0 0 0" />
      <mass
        value="0.32759" />
      <inertia
        ixx="0.0012227"
        ixy="3.9098E-09"
        ixz="1.5501E-08"
        iyy="0.0016423"
        iyz="-5.9381E-10"
        izz="0.00043154" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tennis_bat1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tennis_bat1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>